h1 Listing articles
div ng-controller="AjaxCtrl"
  table class="table table-hover"
    thead
      tr
        th Title
        th Description
        th
        -if user_signed_in?
          th
          th

    tbody
        tr ng-repeat="article in search"
          td 
            |{{article.title}}
          td 
            |{{article.description}}
          td.w0 
            a href="articles/{{article.id}}" Просмотр

          -if user_signed_in?
            td.w0 
              a href="articles/edit/{{article.id}}" Изменить
              / td.w0 = link_to 'Destroy', article, data: {:confirm => 'Are you sure?'}, :method => :delete

          
          

  br

  = link_to 'New Article', new_article_path
