p#notice = notice

p
  strong Title:
  = @article.title
p
  strong Description:
  = @article.description
-if user_signed_in?
  = link_to 'Edit', edit_article_path(@article)
  '|
= link_to 'Back', articles_path
