nav.navbar.navbar-default
  .container-fluid
    /! Brand and toggle get grouped for better mobile display
    .navbar-header
      button.navbar-toggle.collapsed data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button" 
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      = link_to 'Логотип', root_path, class: "navbar-brand"
    /! Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav
        li class="#{'active' if controller_name=='home'}"
          a href="/" Главная
        li class="#{'active' if controller_name=='articles'}"
          = link_to 'Статьи', articles_path
        li class="#{'active' if controller_name=='contacts'}"
          = link_to 'Контакты', contacts_index_path
      form.navbar-form.navbar-left role="search"
        .form-group
          input.form-control placeholder="Поиск" type="text"  ng-model="$root.search"
      ul.nav.navbar-nav.navbar-right
        li
          -if user_signed_in?
            span
              = current_user.email
            = link_to 'Logout', destroy_user_session_path, :method => :delete
          -else
            = link_to 'Log in', user_session_path
        
    /! /.navbar-collapse
  /! /.container-fluid
