<!DOCTYPE html>
html ng-app="app"
head 
  title Resources 
  = stylesheet_link_tag    'application', media: 'all'
  = javascript_include_tag 'application'
  = csrf_meta_tags
body 

  = render partial: "nav"

  .wrap
    = yield